.top_nav{
  display: flex;
}
.lang_wrap{
  display: flex;
}
.lang_wrap>img{
  width: 25px; height: 25px;
  display: block;
}
.lang_wrap>a{
  padding: 0 5px;
  box-sizing: border-box;
  font-weight: 500;
  color: #fff;
}
.info_wrap>ul{
  display: flex;
}
.info_wrap>ul>li>a{
  padding: 0 5px;
  box-sizing: border-box;
  color: #9F4430;
}