/* product_slide */
/* 텍스트,버튼 스타일 */
.slide_main_tit{
  color: #fff;
  padding-bottom: 9px;
  font-size: 2.5rem;
  font-weight:bold;
}
.slide_sub_tit{
  color: #fff;
  padding-bottom: 5px;
  font-size: 1.875rem;
  font-weight:500;
}
.slide_sub2_tit{
  color: #fff;
  padding-bottom: 30px;
  font-size: 1.25rem;
  font-weight:400;
}
.txt_wrap>a{ /*자세히보기 남은 설정*/
  display: block;
  text-align: center;
  font-size: 0.9375rem;
  font-weight: 500;
  color: #fff;
  line-height: 34px;
}
.txt_wrap>a:hover{/*자세히보기 호버*/
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid #bb8377;
  box-sizing: border-box;
  color: #bb8377;
}
/* product_slide 스타일 */
.slide {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  width: 100%; height: auto;
  user-select: none;
}
.slide_item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0px;
  width: 100%; height: 100vh;
  flex-shrink: 0;
  transition: left 0.01s;
}
/* 좌,우버튼 */
.slide_button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(50% - 16px);
}
.left_wh{
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.right_wh{
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.slide_prev_button {
  left: 10px;
}
.slide_next_button {
  right: 10px;
}
/* img */
.slide_item.item1 {
  background-image: url(../img/product_slide/top_main_1920.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide_item.item2 {
  background-image: url(../img/product_slide/top_main2_1920.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide_item.item3 {
  background-image: url(../img/product_slide/product_slide03.jpg);
  background-position: top tcenterop;
  background-repeat: no-repeat;
  background-size: cover;
}
/* 페이지네이션 스타일 */
.slide_pagination {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.slide_pagination > li {
  /* 현재 슬라이드가 아닌 것은 투명도 부여 */
  color: #fff;
  cursor: pointer;
  font-size: 25px;
}
.slide_pagination > li.active {
  /* 현재 슬라이드 색상은 투명도 없이 */
  color: #bb8377;
}
.slide_item_duplicate {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0px;
  width: 100%;
  height: 500px;
  flex-shrink: 0;
  transition: left 0.01s;
}
/* product_slide end */